<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui" />
  <base href="/" />
  <title>Bookshare</title>
  <link rel="stylesheet" href="__STATICS__/bower_components/flat-ui/dist/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="__STATICS__/bower_components/flat-ui/dist/css/flat-ui.css">
  <link rel="shortcut icon" href="__STATICS__/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="__STATICS__/plugins/messenger/build/css/messenger.css">
  <link rel="stylesheet" type="text/css" href="__STATICS__/plugins/messenger/build/css/messenger-theme-air.css">
</head>

<body>
  <div ui-view></div>
  <script src="__STATICS__/bower_components/promiz/promiz.js"></script>
  <script src="__STATICS__/bower_components/angular/angular.js"></script>
  <script src="__STATICS__/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="__STATICS__/bower_components/ng-file-upload/ng-file-upload.js"></script>

  <script src="__STATICS__/bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
  <script src="__STATICS__/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>

  <script src="__STATICS__/plugins/messenger/build/js/messenger.js"></script>
  <script src="__STATICS__/plugins/messenger/build/js/messenger-theme-flat.js"></script>

  <script src="__STATICS__/webpack-source-code-loader.js"></script>
  <script src="__STATICS__/webpack-source-code-entry.js"></script>
</body>

</html>
