<div class="wtitle">Bookshare后台管理</div>
<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if="user.uid==1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" ui-sref="book.manage"></a>
      <h4 class="nav-title">图书共享网站后台管理</h4>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <p class="navbar-text navbar-right" ng-if="!user.uid">未<a ui-sref="book.login" class="navbar-link">登录</a></p>
      <p class="navbar-text navbar-right" ng-if="user.uid">管理员：<span class="text-danger" style="cursor:pointer" ng-click="logout()" title="点击退出当前账号">{{user.username}}</span></p>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- 正文 -->
<div class="jumbotron manageCtrl">
  <div class="container" ng-if="user.uid==1">
    <div class="row">
      <div class="col-md-2 manage-tabs bg-info">
        <ul class="nav nav-tabs " role="tablist">
          <li role="presentation" class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">用户管理</a></li>
          <li role="presentation"><a href="#book" aria-controls="book" role="tab" data-toggle="tab">书籍管理</a></li>
          <li role="presentation"><a href="#note" aria-controls="note" role="tab" data-toggle="tab">笔记管理</a></li>
          <li role="presentation"><a href="#bookComment" aria-controls="bookComment" role="tab" data-toggle="tab">书籍评论管理</a></li>
          <li role="presentation"><a href="#noteComment" aria-controls="noteComment" role="tab" data-toggle="tab">笔记评论管理</a></li>
        </ul>
      </div>
      
      <div class="tab-content col-md-9 manage-content">
        <div role="tabpanel" class="tab-pane active" id="user">
          <p>用户管理<button class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#userModal">新增</button></p>
          <!-- Modal -->
          <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">新增用户</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">用户名</span>
                        <input type="text" class="form-control" placeholder="用户名长度在2-20个字符之间" ng-model="person.username" />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input type="password" class="form-control" placeholder="密码长度在4-20个字符之间" ng-model="person.password" />
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" ng-click="add('user')">确定</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center">用户id</th>
                <th class="text-center">用户名</th>
                <th class="text-center">密码(加密后)</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td>{{user.uid}}</td>
                <td><input type="text" class="form-control" ng-model="user.username" ng-disabled="user.uid==1"></td>
                <td><input type="text" class="form-control" ng-model="user.password" ng-disabled="user.uid==1"></td>
                <td>{{user.create_time*1000|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-disabled="user.uid==1" ng-click="update('user',user)">修改</button>
                  <button class="btn btn-warning btn-xs" ng-disabled="user.uid==1" ng-click="delete('user',user)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          
          <pagination size="5" method="userSelect" class="pull-right"></pagination>
        </div>
        <div role="tabpanel" class="tab-pane" id="book">
          <p>书籍管理<button class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#bookModal">新增</button></p>
          <!-- Modal -->
          <div class="modal fade" id="bookModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">新增书籍</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">书名</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" placeholder="书名长度在2-30个字符之间" ng-model="book.name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">简介</label>
                    <div class="col-sm-9">
                      <small class="pull-right">{{book.intro.length}}/500</small>
                      <textarea class="form-control" rows="5" ng-model="book.intro" placeholder="简介长度在2-500个字符之间"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">分类</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="book.cate">
                        <option value="javascript">javascript</option>
                        <option value="php">php</option>
                        <option value="java">java</option>
                        <option value="mysql">mysql</option>
                        <option value="android">android</option>
                        <option value="linux">linux</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">文件</label>
                    <div class="col-sm-9 file-container">
                      <input type="text" class="form-control" placeholder="请选择文件(.zip/.rar/.doc/.txt/.pdf)" ng-model="book.url">
                      <input type="file" class="form-control" name="bookFile" ng-disabled="!user">
                      <button class="upload btn btn-primary" ng-click="upload('book')" ng-disabled="!user">上传</button>
                      <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" ng-click="add('book')">确定</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">书籍id</th>
                <th class="text-center">用户id</th>
                <th class="text-center">书名</th>
                <th class="text-center">简介</th>
                <th class="text-center">分类</th>
                <th class="text-center col-md-1">保存路径</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="book in books">
                <td>{{book.bid}}</td>
                <td>{{book.uid}}</td>
                <td><input type="text" class="form-control" ng-model="book.name"></td>
                <td><input type="text" class="form-control" ng-model="book.intro"></td>
                <td>
                  <select class="form-control" ng-model="book.cate">
                    <option value="javascript">javascript</option>
                    <option value="php">php</option>
                    <option value="java">java</option>
                    <option value="mysql">mysql</option>
                    <option value="android">android</option>
                    <option value="linux">linux</option>
                  </select>
                </td>
                <td>{{book.url| limitTo : 20}}<span ng-if="book.intro.length>20">...</span></td>
                <td>{{book.create_time*1000|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-click="update('book',book)">修改</button>
                  <button class="btn btn-warning btn-xs" ng-click="delete('book',book)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination size="5" method="bookSelect" class="pull-right"></pagination>
        </div>
        <div role="tabpanel" class="tab-pane" id="note">
          <p>笔记管理<button class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#noteModal">新增</button></p>
          <!-- Modal -->
          <div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">新增笔记</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">笔记名</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" placeholder="笔记名长度在2-30个字符之间" ng-model="note.name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">简介</label>
                    <div class="col-sm-9">
                      <small class="pull-right">{{note.intro.length}}/500</small>
                      <textarea class="form-control" rows="5" ng-model="note.intro" placeholder="简介长度在2-500个字符之间"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">文件</label>
                    <div class="col-sm-9 file-container">
                      <input type="text" class="form-control" placeholder="请选择文件(.zip/.rar/.doc/.txt/.pdf)" ng-model="note.url">
                      <input type="file" class="form-control" name="noteFile" ng-disabled="!user">
                      <button class="upload btn btn-primary" ng-click="upload('note')" ng-disabled="!user">上传</button>
                      <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" ng-click="add('note')">确定</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">笔记id</th>
                <th class="text-center">用户id</th>
                <th class="text-center">笔记名</th>
                <th class="text-center">简介</th>
                <th class="text-center col-md-1">保存路径</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="note in notes">
                <td>{{note.nid}}</td>
                <td>{{note.uid}}</td>
                <td><input type="text" class="form-control" ng-model="note.name"></td>
                <td><input type="text" class="form-control" ng-model="note.intro"></td>
                <td>{{note.url| limitTo : 20}}<span ng-if="note.intro.length>20">...</span></td>
                <td>{{note.create_time*1000|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-click="update('note',note)">修改</button>
                  <button class="btn btn-warning btn-xs" ng-click="delete('note',note)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination size="5" method="noteSelect" class="pull-right"></pagination>
        </div>
        <div role="tabpanel" class="tab-pane" id="bookComment">
          <p>书籍评论管理<button class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#bookCommentModal">新增</button></p>
          <!-- Modal -->
          <div class="modal fade" id="bookCommentModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">新增书籍评论</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">书籍id</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" ng-model="bookComment.bid">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">用户id</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" ng-model="bookComment.uid">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">内容</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" rows="5" ng-model="bookComment.content" placeholder="评论长度在2-200个字符之间"></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" ng-click="add('bookComment')">确定</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">评论id</th>
                <th class="text-center">书籍id</th>
                <th class="text-center">用户id</th>
                <th class="text-center">内容</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bookComment in bookComments">
                <td>{{bookComment.id}}</td>
                <td><input type="text" class="form-control" ng-model="bookComment.bid"></td>
                <td><input type="text" class="form-control" ng-model="bookComment.uid"></td>
                <td><input type="text" class="form-control" ng-model="bookComment.content"></td>
                <td>{{bookComment.create_time*1000|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-click="update('bookComment',bookComment)">修改</button>
                  <button class="btn btn-warning btn-xs" ng-click="delete('bookComment',bookComment)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination size="5" method="bookCommentSelect" class="pull-right"></pagination>
        </div>
        <div role="tabpanel" class="tab-pane" id="noteComment">
          <p>笔记评论管理<button class="btn btn-success pull-right btn-xs" data-toggle="modal" data-target="#noteCommentModal">新增</button></p>
          <!-- Modal -->
          <div class="modal fade" id="noteCommentModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">新增笔记评论</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">笔记id</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" ng-model="noteComment.nid">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">用户id</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" ng-model="noteComment.uid">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 text-right control-label">内容</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" rows="5" ng-model="noteComment.content" placeholder="评论长度在2-200个字符之间"></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" ng-click="add('noteComment')">确定</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">评论id</th>
                <th class="text-center">笔记id</th>
                <th class="text-center">用户id</th>
                <th class="text-center">内容</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="noteComment in noteComments">
                <td>{{noteComment.id}}</td>
                <td><input type="text" class="form-control" ng-model="noteComment.nid"></td>
                <td><input type="text" class="form-control" ng-model="noteComment.uid"></td>
                <td><input type="text" class="form-control" ng-model="noteComment.content"></td>
                <td>{{noteComment.create_time*1000|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-click="update('noteComment',noteComment)">修改</button>
                  <button class="btn btn-warning btn-xs" ng-click="delete('noteComment',noteComment)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination size="5" method="noteCommentSelect" class="pull-right"></pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-danger" ng-if="!user.uid==1">
    <h1>非管理员不可操作</h1>
  </div>
</div>

